.grid-4 {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 6rem;
}

.service-info {
    padding: 4rem 0.5rem;
    color: black;
}

.service-info svg {
    font-size: 40px;
    color: #0abde3;
    display: none;
}

.service-info h3 {
    text-align: center;
}

.service-info a {
    text-decoration: underline;
    color: black;
}

.service-info ul {
    padding-inline-start: 0;
}

.service-info ul li {
    list-style-type: none;
}

@media (max-width: 1280px) {
    .grid-4 {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 6rem;
    }
}

@media (max-width: 991px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
    .service-info {
        padding: 2rem 0.5rem;
    }
    .service-info p,
    .service-info ul {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .hero span {
        left: 8%;
    }
}

@media (max-width: 480px) {
    .grid-4 {
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 0 3rem;
    }
    .service-info {
        padding: 2rem 0.5rem;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .hands {
        margin-bottom: 20px;
    }
    .service-info svg {
        display: flex;
        margin-right: 10px;
    }
    .service-info p,
    .service-info ul {
        display: none
    }
}