.content-wrapper {
    text-align: justify;
    margin: auto;
    padding: 6rem;
    background: rgb(26, 31, 68);
    background: linear-gradient(90deg, rgba(26, 31, 68, 1) 0%, rgba(34, 48, 126, 1) 82%);
}

.arturito {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.content-text p {
    font-size: 17px;
    margin: 1em 0 0 0;
    letter-spacing: 1px;
}

.content-text h3,
.content-video {
    text-align: center;
    text-transform: uppercase;
}

.expand {
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
}

@media (max-width: 768px) {
    .video {
        height: 300px;
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .content-wrapper {
        padding: 2rem 3rem;
    }
    .video {
        height: 200px;
        width: 80%;
        margin: 0 auto;
    }
}