.socials {
    padding: 34px 0;
    margin: 0 auto;
    font-size: 16px;
    height: auto;
    display: inline-block;
    width: 100%;
    background: rgb(26, 31, 68);
    background: linear-gradient(90deg, rgba(26, 31, 68, 1) 0%, rgba(34, 48, 126, 1) 82%);
    position: relative;
}

.socials p {
    margin: 0;
    font-size: 22px;
    color: #0abde3;
}

.socials-container {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: auto;
}

.socials-contact-info-left {
    float: left!important;
    padding-left: 6rem;
}

.socials-contact-info-right {
    float: right;
    display: flex;
    flex-direction: row;
    padding-right: 6rem;
}

.socials-contact-info-right ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
    margin: 0;
}

.socials-contact-info-right ul li {
    list-style-type: none;
}

.socials-contact-info-right ul li a {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.socials-contact-info-right svg {
    font-size: 24px;
    margin-left: 15px;
    color: #0abde3;
}

.copyright-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials-contact-info-left a {
    text-decoration: none;
    color: white;
    transition: 2s;
}

.socials-contact-arrow svg {
    position: absolute;
    top: -35px;
    right: 40px;
    font-size: 50px;
}

@media (max-width: 1100px) {
    .socials p,
    .socials-contact-info-right ul li a,
    .socials-contact-info-right svg {
        font-size: 17px;
    }
}

@media (max-width: 991px) {
    .socials-container {
        display: block;
    }
    .socials-contact-info-left {
        margin-bottom: 10px;
    }
    .socials-contact-info-left,
    .socials-contact-info-right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .socials-contact-info-right,
    .socials-contact-info-right ul li {
        float: none;
        display: inline-block;
    }
    .copyright-wrapper {
        text-align: center;
        margin: 0 auto;
    }
    .socials-contact-arrow svg {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .socials p {
        font-size: 15px;
    }
    .socials-contact-info-right ul li {
        margin: 0;
    }
}

@media (max-width: 480px) {
    .socials-contact-info-left p {
        font-size: 12px;
    }
    .socials-contact-info-right ul li {
        margin: 0;
    }
    .socials-contact-arrow svg {
        right: 10px;
        top: -25px;
        font-size: 35px;
    }
}