.socials {
    padding: 34px 0;
    margin: 0 auto;
    font-size: 16px;
    height: auto;
    display: inline-block;
    width: 100%;
}

.socials p {
    margin: 0;
    font-size: 18px;
    color: #0abde3;
}

.socials-container {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: auto;
}

.socials-contact-info-left {
    float: left!important;
    padding-left: 6rem;
}

.socials-contact-info-right {
    float: right;
    display: flex;
    flex-direction: row;
    padding-right: 6rem;
}

.socials-contact-info-right ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
    margin: 0;
}

.socials-contact-info-right ul li {
    list-style-type: none;
    margin-top: 2px;
}

.socials-contact-info-right ul li a {
    margin: 0;
    padding: 0;
}

.socials-contact-info-right svg {
    font-size: 18px;
    margin-left: 15px;
    color: #0abde3;
}

.socials-contact-info-left a {
    text-decoration: none;
    color: white;
    transition: 2s;
}

@media (max-width: 991px) {
    .socials-container {
        display: block;
    }
    .socials-contact-info-left {
        margin-bottom: 10px;
    }
    .socials-contact-info-left,
    .socials-contact-info-right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .socials-contact-info-right,
    .socials-contact-info-right ul li {
        float: none;
        display: inline-block;
    }
    .copyright-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .socials p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .socials-contact-info-left p {
        font-size: 12px;
    }
    .socials-contact-info-right ul li {
        margin: 0;
    }
}