@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    box-sizing: border-box;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.bg-light {
    background: #f4f4f4;
    color: #1A1F44;
}

.bg-dark {
    background: #1A1F44;
    color: #f4f4f4;
}